{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/../../public/assets/css/style.css" type="text/css" />
	<title>Burgerlicious Devour Menu</title>
	<title> {{ title }}</title>
</head>
<body>

	<h1>Eat Da Burger</h1>
	{{{ body }}}
</body>
</html>